* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141519;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  /* border-radius: 5px; */
  min-width: 400px;
  min-height: 550px;
  overflow-y: scroll;
  cursor: default;
}


/* SCROLL BAR  */

body::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

@media (max-width: 500px) {
  body {
    border: 5px solid white;
    overflow: hidden;
  }

  body::-webkit-scrollbar {
    display: none;
  }
}