.libs-container {
    color: white;
    margin: 20px 16% 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tooltip {
    font-family: 'Comfortaa', cursive;
    font-size: 10px !important;
    font-weight: 700 !important;
    letter-spacing: 0.8px;
    color: black !important;
    background-color: white !important;
    opacity: 1 !important;
    padding: 2px !important;
    pointer-events: auto !important;
}

.libs-name {
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.libs-github {
    font-size: 12px;
    font-weight: 500;
    color: #565b64;
    text-decoration: none;
    margin-left: 5px;
}

.libs-github>i {
    font-size: 15px;
    margin-right: 2px;
}

.copy-btns {
    display: flex;
    margin-left: 5%;
}

.copy-btns>div {
    margin-left: 15%;
}

.glow {
    /* color: white; */
    cursor: pointer;
}

.glow:hover {
    text-shadow: 0 0 30px;
    transition: text-shadow 0.5s;
    transition: color 0.3s;
}

.glow:active {
    position: relative;
    top: 2px;
    opacity: 0.9;
}

.js,
.js-btn:hover {
    color: #ffd438;
}

.js-url-btn:hover {
    color: #fd9644;
}

.js-sri-btn:hover {
    color: #fc5c65;
}

.css,
.css-btn:hover {
    color: #45aaf2;
}

.css-url-btn:hover {
    color: #2bcbba;
}

.css-sri-btn:hover {
    color: #26de81;
}

.libs-info {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
}

.libs-version {
    font-weight: 500;
    color: #bebebe
}

.libs-description {
    font-size: 16px;
    font-weight: 300;
}


@media (max-width: 500px) {

    .libs-container {
        margin: 8px 10%;
    }

    .libs-name {
        font-size: 22px;
    }

    .libs-description,
    .libs-github,
    .url,
    .sri {
        display: none;
    }

}